@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* /////////// */
nav {
  position: relative;
  z-index: 1;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 80px;
    padding-left: 600px;

    li {
      button {
        appearance: none;

        color: #5c5b66;
        transition: color 0.25s;
      }

      &.active {
        button {
          color: #fff;
        }
      }

      &:not(.active) {
        &:hover {
          button {
            color: #ffffff;
          }
        }
      }
    }
  }

  .active-element {
    --active-element-scale-x: 1;
    --active-element-scale-y: 1;
    --active-element-show: 0;
    --active-element-opacity: 0;
    --active-element-width: 0px;
    --active-element-strike-x: 0%;
    --active-element-mask-position: 0%;

    position: absolute;
    left: 0;
    top: 50px;
    height: 3px;
    width: 36px;
    border-radius: 2px;
    background-color: #324b3b;
    opacity: var(--active-element-show);

    & > svg,
    .strike {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      opacity: var(--active-element-opacity);
      width: var(--active-element-width);
      mix-blend-mode: multiply;
    }

    & > svg {
      display: block;
      overflow: visible;
      height: 5px;
      filter: blur(0.5px) drop-shadow(2px 0px 8px rgba(0, 117, 255, 0.4))
        drop-shadow(1px 0px 2px rgba(0, 128, 255, 0.8))
        drop-shadow(0px 0px 3px rgba(153, 204, 255, 0.4))
        drop-shadow(2px 0px 8px rgba(137, 196, 255, 0.45))
        drop-shadow(8px 0px 16px rgba(153, 204, 255, 0.5));
    }

    .strike {
      padding: 24px 0;
      -webkit-mask-image: linear-gradient(
        to right,
        transparent calc(0% + var(--active-element-mask-position)),
        black calc(15% + var(--active-element-mask-position)),
        black 80%,
        transparent
      );
      mask-image: linear-gradient(
        to right,
        transparent calc(0% + var(--active-element-mask-position)),
        black calc(15% + var(--active-element-mask-position)),
        black 80%,
        transparent
      );

      svg {
        display: block;
        overflow: visible;
        height: 12px;
        width: calc(var(--active-element-width) * 2);
        transform: translate(var(--active-element-strike-x), 30%)
          scale(var(--active-element-scale-x), var(--active-element-scale-y));

        &:last-child {
          transform: translate(var(--active-element-strike-x), -30%) scale(-1);
        }

        g {
          path {
            &:nth-child(2) {
              filter: blur(2px);
            }

            &:nth-child(3) {
              filter: blur(4px);
            }
          }
        }
      }
    }
  }

  &.before {
    .active-element {
      transform: rotateY(180deg);
    }
  }
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  background-color: #020112;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    inset: 40% -60% 0 -60%;
    background-image: radial-gradient(
      ellipse at bottom,
      #0f30d3 0%,
      #020112 50%
    );
    opacity: 0.3;
    pointer-events: none;
  }
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  background-color: #000;
  min-height: 100vh;
  display: grid;
  place-items: center;
  perspective: 800px;
  overflow: hidden;
}
body * {
  transform-style: preserve-3d;
}

.scene {
  position: relative;
  transform: rotateX(-30deg) rotateY(-60deg);
  font-size: 40px;
  -webkit-animation: sceneRotate 60s infinite linear;
  animation: sceneRotate 60s infinite linear;
}
@-webkit-keyframes sceneRotate {
  from {
    transform: rotateX(-30deg) rotateY(0deg);
  }
  to {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}
@keyframes sceneRotate {
  from {
    transform: rotateX(-30deg) rotateY(0deg);
  }
  to {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

.column {
  position: absolute;
  transform: rotateY(var(--ry)) translateX(2.8em);
}
.column:nth-child(1) {
  --ry: 0deg;
}
.column:nth-child(1) .box {
  -webkit-animation: boxRotate0 12s var(--delay) infinite ease-in-out,
    boxTop0 12s var(--delay) infinite step-end,
    boxTranslate 12s var(--delay) infinite linear;
  animation: boxRotate0 12s var(--delay) infinite ease-in-out,
    boxTop0 12s var(--delay) infinite step-end,
    boxTranslate 12s var(--delay) infinite linear;
}
@-webkit-keyframes boxRotate0 {
  0%,
  30.8% {
    rotate: 0.25turn;
  }
  35.48%,
  37.54%,
  41.24%,
  44.58%,
  48.24% {
    rotate: -0.25turn;
    -webkit-animation-timing-function: step-end;
    animation-timing-function: step-end;
  }
  35.48%,
  37.54%,
  41.24%,
  44.58%,
  48.24% {
    rotate: 0turn;
  }
  54.52%,
  100% {
    rotate: -0.5turn;
  }
}
@keyframes boxRotate0 {
  0%,
  30.8% {
    rotate: 0.25turn;
  }
  35.48%,
  37.54%,
  41.24%,
  44.58%,
  48.24% {
    rotate: -0.25turn;
    -webkit-animation-timing-function: step-end;
    animation-timing-function: step-end;
  }
  35.48%,
  37.54%,
  41.24%,
  44.58%,
  48.24% {
    rotate: 0turn;
  }
  54.52%,
  100% {
    rotate: -0.5turn;
  }
}
@-webkit-keyframes boxTop0 {
  0%,
  30.8% {
    top: 0;
  }
  35.48% {
    top: -1em;
  }
  37.54% {
    top: -2em;
  }
  41.24% {
    top: -3em;
  }
  44.58% {
    top: -4em;
  }
  48.24% {
    top: -5em;
  }
}
@keyframes boxTop0 {
  0%,
  30.8% {
    top: 0;
  }
  35.48% {
    top: -1em;
  }
  37.54% {
    top: -2em;
  }
  41.24% {
    top: -3em;
  }
  44.58% {
    top: -4em;
  }
  48.24% {
    top: -5em;
  }
}
.column:nth-child(2) {
  --ry: 30deg;
}
.column:nth-child(2) .box {
  -webkit-animation: boxRotate1 12s var(--delay) infinite ease-in-out,
    boxTop1 12s var(--delay) infinite step-end,
    boxTranslate 12s var(--delay) infinite linear;
  animation: boxRotate1 12s var(--delay) infinite ease-in-out,
    boxTop1 12s var(--delay) infinite step-end,
    boxTranslate 12s var(--delay) infinite linear;
}
@-webkit-keyframes boxRotate1 {
  0%,
  26% {
    rotate: 0.25turn;
  }
  32.8%,
  35.08%,
  38.74%,
  42%,
  44.52% {
    rotate: -0.25turn;
    -webkit-animation-timing-function: step-end;
    animation-timing-function: step-end;
  }
  32.8%,
  35.08%,
  38.74%,
  42%,
  44.52% {
    rotate: 0turn;
  }
  49.2%,
  100% {
    rotate: -0.5turn;
  }
}
@keyframes boxRotate1 {
  0%,
  26% {
    rotate: 0.25turn;
  }
  32.8%,
  35.08%,
  38.74%,
  42%,
  44.52% {
    rotate: -0.25turn;
    -webkit-animation-timing-function: step-end;
    animation-timing-function: step-end;
  }
  32.8%,
  35.08%,
  38.74%,
  42%,
  44.52% {
    rotate: 0turn;
  }
  49.2%,
  100% {
    rotate: -0.5turn;
  }
}
@-webkit-keyframes boxTop1 {
  0%,
  26% {
    top: 0;
  }
  32.8% {
    top: -1em;
  }
  35.08% {
    top: -2em;
  }
  38.74% {
    top: -3em;
  }
  42% {
    top: -4em;
  }
  44.52% {
    top: -5em;
  }
}
@keyframes boxTop1 {
  0%,
  26% {
    top: 0;
  }
  32.8% {
    top: -1em;
  }
  35.08% {
    top: -2em;
  }
  38.74% {
    top: -3em;
  }
  42% {
    top: -4em;
  }
  44.52% {
    top: -5em;
  }
}
.column:nth-child(3) {
  --ry: 60deg;
}
.column:nth-child(3) .box {
  -webkit-animation: boxRotate2 12s var(--delay) infinite ease-in-out,
    boxTop2 12s var(--delay) infinite step-end,
    boxTranslate 12s var(--delay) infinite linear;
  animation: boxRotate2 12s var(--delay) infinite ease-in-out,
    boxTop2 12s var(--delay) infinite step-end,
    boxTranslate 12s var(--delay) infinite linear;
}
@-webkit-keyframes boxRotate2 {
  0%,
  8.8% {
    rotate: 0.25turn;
  }
  15.88%,
  18.3%,
  21.08%,
  24.6%,
  26.8% {
    rotate: -0.25turn;
    -webkit-animation-timing-function: step-end;
    animation-timing-function: step-end;
  }
  15.88%,
  18.3%,
  21.08%,
  24.6%,
  26.8% {
    rotate: 0turn;
  }
  31.4%,
  100% {
    rotate: -0.5turn;
  }
}
@keyframes boxRotate2 {
  0%,
  8.8% {
    rotate: 0.25turn;
  }
  15.88%,
  18.3%,
  21.08%,
  24.6%,
  26.8% {
    rotate: -0.25turn;
    -webkit-animation-timing-function: step-end;
    animation-timing-function: step-end;
  }
  15.88%,
  18.3%,
  21.08%,
  24.6%,
  26.8% {
    rotate: 0turn;
  }
  31.4%,
  100% {
    rotate: -0.5turn;
  }
}
@-webkit-keyframes boxTop2 {
  0%,
  8.8% {
    top: 0;
  }
  15.88% {
    top: -1em;
  }
  18.3% {
    top: -2em;
  }
  21.08% {
    top: -3em;
  }
  24.6% {
    top: -4em;
  }
  26.8% {
    top: -5em;
  }
}
@keyframes boxTop2 {
  0%,
  8.8% {
    top: 0;
  }
  15.88% {
    top: -1em;
  }
  18.3% {
    top: -2em;
  }
  21.08% {
    top: -3em;
  }
  24.6% {
    top: -4em;
  }
  26.8% {
    top: -5em;
  }
}
.column:nth-child(4) {
  --ry: 90deg;
}
.column:nth-child(4) .box {
  -webkit-animation: boxRotate3 12s var(--delay) infinite ease-in-out,
    boxTop3 12s var(--delay) infinite step-end,
    boxTranslate 12s var(--delay) infinite linear;
  animation: boxRotate3 12s var(--delay) infinite ease-in-out,
    boxTop3 12s var(--delay) infinite step-end,
    boxTranslate 12s var(--delay) infinite linear;
}
@-webkit-keyframes boxRotate3 {
  0%,
  17.2% {
    rotate: 0.25turn;
  }
  22%,
  24.92%,
  28.36%,
  32.08%,
  35.42% {
    rotate: -0.25turn;
    -webkit-animation-timing-function: step-end;
    animation-timing-function: step-end;
  }
  22%,
  24.92%,
  28.36%,
  32.08%,
  35.42% {
    rotate: 0turn;
  }
  42.58%,
  100% {
    rotate: -0.5turn;
  }
}
@keyframes boxRotate3 {
  0%,
  17.2% {
    rotate: 0.25turn;
  }
  22%,
  24.92%,
  28.36%,
  32.08%,
  35.42% {
    rotate: -0.25turn;
    -webkit-animation-timing-function: step-end;
    animation-timing-function: step-end;
  }
  22%,
  24.92%,
  28.36%,
  32.08%,
  35.42% {
    rotate: 0turn;
  }
  42.58%,
  100% {
    rotate: -0.5turn;
  }
}
@-webkit-keyframes boxTop3 {
  0%,
  17.2% {
    top: 0;
  }
  22% {
    top: -1em;
  }
  24.92% {
    top: -2em;
  }
  28.36% {
    top: -3em;
  }
  32.08% {
    top: -4em;
  }
  35.42% {
    top: -5em;
  }
}
@keyframes boxTop3 {
  0%,
  17.2% {
    top: 0;
  }
  22% {
    top: -1em;
  }
  24.92% {
    top: -2em;
  }
  28.36% {
    top: -3em;
  }
  32.08% {
    top: -4em;
  }
  35.42% {
    top: -5em;
  }
}
.column:nth-child(5) {
  --ry: 120deg;
}
.column:nth-child(5) .box {
  -webkit-animation: boxRotate4 12s var(--delay) infinite ease-in-out,
    boxTop4 12s var(--delay) infinite step-end,
    boxTranslate 12s var(--delay) infinite linear;
  animation: boxRotate4 12s var(--delay) infinite ease-in-out,
    boxTop4 12s var(--delay) infinite step-end,
    boxTranslate 12s var(--delay) infinite linear;
}
@-webkit-keyframes boxRotate4 {
  0%,
  1.2% {
    rotate: 0.25turn;
  }
  6.48%,
  9.36%,
  11.9%,
  14.34%,
  16.58% {
    rotate: -0.25turn;
    -webkit-animation-timing-function: step-end;
    animation-timing-function: step-end;
  }
  6.48%,
  9.36%,
  11.9%,
  14.34%,
  16.58% {
    rotate: 0turn;
  }
  22.98%,
  100% {
    rotate: -0.5turn;
  }
}
@keyframes boxRotate4 {
  0%,
  1.2% {
    rotate: 0.25turn;
  }
  6.48%,
  9.36%,
  11.9%,
  14.34%,
  16.58% {
    rotate: -0.25turn;
    -webkit-animation-timing-function: step-end;
    animation-timing-function: step-end;
  }
  6.48%,
  9.36%,
  11.9%,
  14.34%,
  16.58% {
    rotate: 0turn;
  }
  22.98%,
  100% {
    rotate: -0.5turn;
  }
}
@-webkit-keyframes boxTop4 {
  0%,
  1.2% {
    top: 0;
  }
  6.48% {
    top: -1em;
  }
  9.36% {
    top: -2em;
  }
  11.9% {
    top: -3em;
  }
  14.34% {
    top: -4em;
  }
  16.58% {
    top: -5em;
  }
}
@keyframes boxTop4 {
  0%,
  1.2% {
    top: 0;
  }
  6.48% {
    top: -1em;
  }
  9.36% {
    top: -2em;
  }
  11.9% {
    top: -3em;
  }
  14.34% {
    top: -4em;
  }
  16.58% {
    top: -5em;
  }
}
.column:nth-child(6) {
  --ry: 150deg;
}
.column:nth-child(6) .box {
  -webkit-animation: boxRotate5 12s var(--delay) infinite ease-in-out,
    boxTop5 12s var(--delay) infinite step-end,
    boxTranslate 12s var(--delay) infinite linear;
  animation: boxRotate5 12s var(--delay) infinite ease-in-out,
    boxTop5 12s var(--delay) infinite step-end,
    boxTranslate 12s var(--delay) infinite linear;
}
@-webkit-keyframes boxRotate5 {
  0%,
  30% {
    rotate: 0.25turn;
  }
  35.8%,
  39.44%,
  43.2%,
  46.32%,
  49.88% {
    rotate: -0.25turn;
    -webkit-animation-timing-function: step-end;
    animation-timing-function: step-end;
  }
  35.8%,
  39.44%,
  43.2%,
  46.32%,
  49.88% {
    rotate: 0turn;
  }
  57.76%,
  100% {
    rotate: -0.5turn;
  }
}
@keyframes boxRotate5 {
  0%,
  30% {
    rotate: 0.25turn;
  }
  35.8%,
  39.44%,
  43.2%,
  46.32%,
  49.88% {
    rotate: -0.25turn;
    -webkit-animation-timing-function: step-end;
    animation-timing-function: step-end;
  }
  35.8%,
  39.44%,
  43.2%,
  46.32%,
  49.88% {
    rotate: 0turn;
  }
  57.76%,
  100% {
    rotate: -0.5turn;
  }
}
@-webkit-keyframes boxTop5 {
  0%,
  30% {
    top: 0;
  }
  35.8% {
    top: -1em;
  }
  39.44% {
    top: -2em;
  }
  43.2% {
    top: -3em;
  }
  46.32% {
    top: -4em;
  }
  49.88% {
    top: -5em;
  }
}
@keyframes boxTop5 {
  0%,
  30% {
    top: 0;
  }
  35.8% {
    top: -1em;
  }
  39.44% {
    top: -2em;
  }
  43.2% {
    top: -3em;
  }
  46.32% {
    top: -4em;
  }
  49.88% {
    top: -5em;
  }
}
.column:nth-child(7) {
  --ry: 180deg;
}
.column:nth-child(7) .box {
  -webkit-animation: boxRotate6 12s var(--delay) infinite ease-in-out,
    boxTop6 12s var(--delay) infinite step-end,
    boxTranslate 12s var(--delay) infinite linear;
  animation: boxRotate6 12s var(--delay) infinite ease-in-out,
    boxTop6 12s var(--delay) infinite step-end,
    boxTranslate 12s var(--delay) infinite linear;
}
@-webkit-keyframes boxRotate6 {
  0%,
  8.8% {
    rotate: 0.25turn;
  }
  15.76%,
  19.6%,
  23.56%,
  27.16%,
  31.12% {
    rotate: -0.25turn;
    -webkit-animation-timing-function: step-end;
    animation-timing-function: step-end;
  }
  15.76%,
  19.6%,
  23.56%,
  27.16%,
  31.12% {
    rotate: 0turn;
  }
  35.8%,
  100% {
    rotate: -0.5turn;
  }
}
@keyframes boxRotate6 {
  0%,
  8.8% {
    rotate: 0.25turn;
  }
  15.76%,
  19.6%,
  23.56%,
  27.16%,
  31.12% {
    rotate: -0.25turn;
    -webkit-animation-timing-function: step-end;
    animation-timing-function: step-end;
  }
  15.76%,
  19.6%,
  23.56%,
  27.16%,
  31.12% {
    rotate: 0turn;
  }
  35.8%,
  100% {
    rotate: -0.5turn;
  }
}
@-webkit-keyframes boxTop6 {
  0%,
  8.8% {
    top: 0;
  }
  15.76% {
    top: -1em;
  }
  19.6% {
    top: -2em;
  }
  23.56% {
    top: -3em;
  }
  27.16% {
    top: -4em;
  }
  31.12% {
    top: -5em;
  }
}
@keyframes boxTop6 {
  0%,
  8.8% {
    top: 0;
  }
  15.76% {
    top: -1em;
  }
  19.6% {
    top: -2em;
  }
  23.56% {
    top: -3em;
  }
  27.16% {
    top: -4em;
  }
  31.12% {
    top: -5em;
  }
}
.column:nth-child(8) {
  --ry: 210deg;
}
.column:nth-child(8) .box {
  -webkit-animation: boxRotate7 12s var(--delay) infinite ease-in-out,
    boxTop7 12s var(--delay) infinite step-end,
    boxTranslate 12s var(--delay) infinite linear;
  animation: boxRotate7 12s var(--delay) infinite ease-in-out,
    boxTop7 12s var(--delay) infinite step-end,
    boxTranslate 12s var(--delay) infinite linear;
}
@-webkit-keyframes boxRotate7 {
  0%,
  12% {
    rotate: 0.25turn;
  }
  17.4%,
  21.18%,
  23.76%,
  26.08%,
  29.4% {
    rotate: -0.25turn;
    -webkit-animation-timing-function: step-end;
    animation-timing-function: step-end;
  }
  17.4%,
  21.18%,
  23.76%,
  26.08%,
  29.4% {
    rotate: 0turn;
  }
  33.88%,
  100% {
    rotate: -0.5turn;
  }
}
@keyframes boxRotate7 {
  0%,
  12% {
    rotate: 0.25turn;
  }
  17.4%,
  21.18%,
  23.76%,
  26.08%,
  29.4% {
    rotate: -0.25turn;
    -webkit-animation-timing-function: step-end;
    animation-timing-function: step-end;
  }
  17.4%,
  21.18%,
  23.76%,
  26.08%,
  29.4% {
    rotate: 0turn;
  }
  33.88%,
  100% {
    rotate: -0.5turn;
  }
}
@-webkit-keyframes boxTop7 {
  0%,
  12% {
    top: 0;
  }
  17.4% {
    top: -1em;
  }
  21.18% {
    top: -2em;
  }
  23.76% {
    top: -3em;
  }
  26.08% {
    top: -4em;
  }
  29.4% {
    top: -5em;
  }
}
@keyframes boxTop7 {
  0%,
  12% {
    top: 0;
  }
  17.4% {
    top: -1em;
  }
  21.18% {
    top: -2em;
  }
  23.76% {
    top: -3em;
  }
  26.08% {
    top: -4em;
  }
  29.4% {
    top: -5em;
  }
}
.column:nth-child(9) {
  --ry: 240deg;
}
.column:nth-child(9) .box {
  -webkit-animation: boxRotate8 12s var(--delay) infinite ease-in-out,
    boxTop8 12s var(--delay) infinite step-end,
    boxTranslate 12s var(--delay) infinite linear;
  animation: boxRotate8 12s var(--delay) infinite ease-in-out,
    boxTop8 12s var(--delay) infinite step-end,
    boxTranslate 12s var(--delay) infinite linear;
}
@-webkit-keyframes boxRotate8 {
  0%,
  3.2% {
    rotate: 0.25turn;
  }
  10.56%,
  13.66%,
  16.82%,
  19.98%,
  23.32% {
    rotate: -0.25turn;
    -webkit-animation-timing-function: step-end;
    animation-timing-function: step-end;
  }
  10.56%,
  13.66%,
  16.82%,
  19.98%,
  23.32% {
    rotate: 0turn;
  }
  29.8%,
  100% {
    rotate: -0.5turn;
  }
}
@keyframes boxRotate8 {
  0%,
  3.2% {
    rotate: 0.25turn;
  }
  10.56%,
  13.66%,
  16.82%,
  19.98%,
  23.32% {
    rotate: -0.25turn;
    -webkit-animation-timing-function: step-end;
    animation-timing-function: step-end;
  }
  10.56%,
  13.66%,
  16.82%,
  19.98%,
  23.32% {
    rotate: 0turn;
  }
  29.8%,
  100% {
    rotate: -0.5turn;
  }
}
@-webkit-keyframes boxTop8 {
  0%,
  3.2% {
    top: 0;
  }
  10.56% {
    top: -1em;
  }
  13.66% {
    top: -2em;
  }
  16.82% {
    top: -3em;
  }
  19.98% {
    top: -4em;
  }
  23.32% {
    top: -5em;
  }
}
@keyframes boxTop8 {
  0%,
  3.2% {
    top: 0;
  }
  10.56% {
    top: -1em;
  }
  13.66% {
    top: -2em;
  }
  16.82% {
    top: -3em;
  }
  19.98% {
    top: -4em;
  }
  23.32% {
    top: -5em;
  }
}
.column:nth-child(10) {
  --ry: 270deg;
}
.column:nth-child(10) .box {
  -webkit-animation: boxRotate9 12s var(--delay) infinite ease-in-out,
    boxTop9 12s var(--delay) infinite step-end,
    boxTranslate 12s var(--delay) infinite linear;
  animation: boxRotate9 12s var(--delay) infinite ease-in-out,
    boxTop9 12s var(--delay) infinite step-end,
    boxTranslate 12s var(--delay) infinite linear;
}
@-webkit-keyframes boxRotate9 {
  0%,
  6.4% {
    rotate: 0.25turn;
  }
  11.64%,
  15.48%,
  18.1%,
  20.32%,
  23.6% {
    rotate: -0.25turn;
    -webkit-animation-timing-function: step-end;
    animation-timing-function: step-end;
  }
  11.64%,
  15.48%,
  18.1%,
  20.32%,
  23.6% {
    rotate: 0turn;
  }
  29.32%,
  100% {
    rotate: -0.5turn;
  }
}
@keyframes boxRotate9 {
  0%,
  6.4% {
    rotate: 0.25turn;
  }
  11.64%,
  15.48%,
  18.1%,
  20.32%,
  23.6% {
    rotate: -0.25turn;
    -webkit-animation-timing-function: step-end;
    animation-timing-function: step-end;
  }
  11.64%,
  15.48%,
  18.1%,
  20.32%,
  23.6% {
    rotate: 0turn;
  }
  29.32%,
  100% {
    rotate: -0.5turn;
  }
}
@-webkit-keyframes boxTop9 {
  0%,
  6.4% {
    top: 0;
  }
  11.64% {
    top: -1em;
  }
  15.48% {
    top: -2em;
  }
  18.1% {
    top: -3em;
  }
  20.32% {
    top: -4em;
  }
  23.6% {
    top: -5em;
  }
}
@keyframes boxTop9 {
  0%,
  6.4% {
    top: 0;
  }
  11.64% {
    top: -1em;
  }
  15.48% {
    top: -2em;
  }
  18.1% {
    top: -3em;
  }
  20.32% {
    top: -4em;
  }
  23.6% {
    top: -5em;
  }
}
.column:nth-child(11) {
  --ry: 300deg;
}
.column:nth-child(11) .box {
  -webkit-animation: boxRotate10 12s var(--delay) infinite ease-in-out,
    boxTop10 12s var(--delay) infinite step-end,
    boxTranslate 12s var(--delay) infinite linear;
  animation: boxRotate10 12s var(--delay) infinite ease-in-out,
    boxTop10 12s var(--delay) infinite step-end,
    boxTranslate 12s var(--delay) infinite linear;
}
@-webkit-keyframes boxRotate10 {
  0%,
  34.4% {
    rotate: 0.25turn;
  }
  41.2%,
  43.64%,
  46.06%,
  48.64%,
  52.44% {
    rotate: -0.25turn;
    -webkit-animation-timing-function: step-end;
    animation-timing-function: step-end;
  }
  41.2%,
  43.64%,
  46.06%,
  48.64%,
  52.44% {
    rotate: 0turn;
  }
  56.72%,
  100% {
    rotate: -0.5turn;
  }
}
@keyframes boxRotate10 {
  0%,
  34.4% {
    rotate: 0.25turn;
  }
  41.2%,
  43.64%,
  46.06%,
  48.64%,
  52.44% {
    rotate: -0.25turn;
    -webkit-animation-timing-function: step-end;
    animation-timing-function: step-end;
  }
  41.2%,
  43.64%,
  46.06%,
  48.64%,
  52.44% {
    rotate: 0turn;
  }
  56.72%,
  100% {
    rotate: -0.5turn;
  }
}
@-webkit-keyframes boxTop10 {
  0%,
  34.4% {
    top: 0;
  }
  41.2% {
    top: -1em;
  }
  43.64% {
    top: -2em;
  }
  46.06% {
    top: -3em;
  }
  48.64% {
    top: -4em;
  }
  52.44% {
    top: -5em;
  }
}
@keyframes boxTop10 {
  0%,
  34.4% {
    top: 0;
  }
  41.2% {
    top: -1em;
  }
  43.64% {
    top: -2em;
  }
  46.06% {
    top: -3em;
  }
  48.64% {
    top: -4em;
  }
  52.44% {
    top: -5em;
  }
}
.column:nth-child(12) {
  --ry: 330deg;
}
.column:nth-child(12) .box {
  -webkit-animation: boxRotate11 12s var(--delay) infinite ease-in-out,
    boxTop11 12s var(--delay) infinite step-end,
    boxTranslate 12s var(--delay) infinite linear;
  animation: boxRotate11 12s var(--delay) infinite ease-in-out,
    boxTop11 12s var(--delay) infinite step-end,
    boxTranslate 12s var(--delay) infinite linear;
}
@-webkit-keyframes boxRotate11 {
  0%,
  6% {
    rotate: 0.25turn;
  }
  13.56%,
  16.2%,
  20.06%,
  23.84%,
  26.92% {
    rotate: -0.25turn;
    -webkit-animation-timing-function: step-end;
    animation-timing-function: step-end;
  }
  13.56%,
  16.2%,
  20.06%,
  23.84%,
  26.92% {
    rotate: 0turn;
  }
  34.8%,
  100% {
    rotate: -0.5turn;
  }
}
@keyframes boxRotate11 {
  0%,
  6% {
    rotate: 0.25turn;
  }
  13.56%,
  16.2%,
  20.06%,
  23.84%,
  26.92% {
    rotate: -0.25turn;
    -webkit-animation-timing-function: step-end;
    animation-timing-function: step-end;
  }
  13.56%,
  16.2%,
  20.06%,
  23.84%,
  26.92% {
    rotate: 0turn;
  }
  34.8%,
  100% {
    rotate: -0.5turn;
  }
}
@-webkit-keyframes boxTop11 {
  0%,
  6% {
    top: 0;
  }
  13.56% {
    top: -1em;
  }
  16.2% {
    top: -2em;
  }
  20.06% {
    top: -3em;
  }
  23.84% {
    top: -4em;
  }
  26.92% {
    top: -5em;
  }
}
@keyframes boxTop11 {
  0%,
  6% {
    top: 0;
  }
  13.56% {
    top: -1em;
  }
  16.2% {
    top: -2em;
  }
  20.06% {
    top: -3em;
  }
  23.84% {
    top: -4em;
  }
  26.92% {
    top: -5em;
  }
}

.box {
  position: absolute;
  width: 1em;
  height: 1em;
  transform-origin: top left;
}
.box:nth-child(1) {
  --delay: 0s;
}
.box:nth-child(2) {
  --delay: -2s;
}
.box:nth-child(3) {
  --delay: -4s;
}
.box:nth-child(4) {
  --delay: -6s;
}
.box:nth-child(5) {
  --delay: -8s;
}
.box:nth-child(6) {
  --delay: -10s;
}
@-webkit-keyframes boxTranslate {
  from {
    translate: 0 1em;
  }
  to {
    translate: 0 7em;
  }
}
@keyframes boxTranslate {
  from {
    translate: 0 1em;
  }
  to {
    translate: 0 7em;
  }
}
.box i {
  --gap: 0.05em;
  position: absolute;
  inset: var(--gap);
  background-color: #000d;
  border: 2px dodgerblue solid;
  box-shadow: 0 0 0.5em dodgerblue inset;
}
.box i:nth-child(1) {
  transform: translateZ(calc(0.5em - var(--gap)));
}
.box i:nth-child(2) {
  transform: rotateY(90deg) translateZ(calc(0.5em - var(--gap)));
}
.box i:nth-child(3) {
  transform: rotateY(180deg) translateZ(calc(0.5em - var(--gap)));
}
.box i:nth-child(4) {
  transform: rotateY(270deg) translateZ(calc(0.5em - var(--gap)));
}
.box i:nth-child(5) {
  transform: rotateX(270deg) translateZ(calc(0.5em - var(--gap)));
}
.box i:nth-child(6) {
  transform: rotateX(90deg) translateZ(calc(0.5em - var(--gap)));
}
body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  .footer {
    z-index: 1;
    --footer-background: #5c0911;
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 12rem;
    .bubbles {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 1rem;
      background: var(--footer-background);
      filter: url("#blob");
      .bubble {
        position: absolute;
        left: var(--position, 50%);
        background: var(--footer-background);
        border-radius: 100%;
        animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
          bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
        transform: translate(-50%, 100%);
      }
    }
    .content {
      z-index: 2;
      display: grid;
      grid-template-columns: 1fr auto;
      grid-gap: 4rem;
      padding: 2rem;
      background: var(--footer-background);
      a,
      p {
        color: #f5f7fa;
        text-decoration: none;
      }
      b {
        color: white;
      }
      p {
        margin: 0;
        font-size: 0.75rem;
      }
      > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        > div {
          margin: 0.25rem 0;
          > * {
            margin-right: 0.5rem;
          }
        }
        .image {
          align-self: center;
          width: 4rem;
          height: 4rem;
          margin: 0.25rem 0;
          background-size: cover;
          background-position: center;
        }
      }
    }
  }
}

@keyframes bubble-size {
  0%,
  75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
